services:
  postgres:
    image: postgres:17-alpine
    container_name: example-api-db
    environment:
      POSTGRES_DB: example_api
      POSTGRES_USER: example_api
      POSTGRES_PASSWORD: example_api
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: example-api-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

volumes:
  postgres_data:
  redis_data:
