apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: argocd-telegram-secret
  namespace: argocd
spec:
  refreshInterval: 1h
  secretStoreRef:
    kind: ClusterSecretStore
    name: doppler-shared
  target:
    name: argocd-notifications-secret
    creationPolicy: Owner
  data:
    - secretKey: telegram-token
      remoteRef:
        key: TELEGRAM_BOT_TOKEN
