apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: auth0-oidc-credentials
spec:
  externalSecretName: auth0-oidc-credentials
  namespaceSelectors:
    - matchLabels:
        auth0-oidc: "true"
  refreshTime: 5m
  externalSecretSpec:
    secretStoreRef:
      name: doppler-shared
      kind: ClusterSecretStore
    refreshInterval: 5m
    target:
      name: auth0-oidc-credentials
      creationPolicy: Owner
      template:
        metadata:
          labels:
            app.kubernetes.io/part-of: argocd
        data:
          client-id: {{ .Values.global.auth0.clientId | quote }}
          client-secret: "{{`{{ .clientSecret }}`}}"
    data:
      - secretKey: clientSecret
        remoteRef:
          key: AUTH0_CLIENT_SECRET
