apiVersion: external-secrets.io/v1
kind: ClusterExternalSecret
metadata:
  name: dockerhub-credentials
spec:
  externalSecretName: dockerhub-credentials
  namespaceSelectors:
    - matchLabels:
        dockerhub-pull: "true"
  refreshTime: 5m
  externalSecretSpec:
    secretStoreRef:
      name: doppler-shared
      kind: ClusterSecretStore
    refreshInterval: 5m
    target:
      name: dockerhub-credentials
      creationPolicy: Owner
      template:
        type: kubernetes.io/dockerconfigjson
        data:
          .dockerconfigjson: |
            {"auths":{"https://index.docker.io/v1/":{"username":"{{ .Values.global.dockerhub.username }}","password":"{{`{{ .password }}`}}","auth":"{{`{{ printf "%s:%s" `}}"{{ .Values.global.dockerhub.username }}"{{` .password | b64enc }}`}}"},"https://registry-1.docker.io":{"username":"{{ .Values.global.dockerhub.username }}","password":"{{`{{ .password }}`}}","auth":"{{`{{ printf "%s:%s" `}}"{{ .Values.global.dockerhub.username }}"{{` .password | b64enc }}`}}"}}}
    data:
      - secretKey: password
        remoteRef:
          key: DOCKERHUB_PULL_TOKEN
